<div class="container">
    <div class="row">
      <div class="col-md-6">
  
        <h3>Listado de Productos</h3>
        <hr>
        <div class="d-flex justify-content-between">
            <span><button (click)="nuevoItem()" class="btn btn-success">Nuevo Producto</button></span>

            <span *ngIf="mostrarFormulario"><button (click)="cancelar()" class="btn btn-warning">Cancelar</button></span>
        </div>
        <br>
        <div>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Total s/ IVA</th>
                    <th scope="col">Total c/ IVA</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr *ngFor="let producto of producto">
                    <td scope="row">{{producto.codigo}}</td>
                    <td scope="row">{{producto.nombre}}</td>
                    <td scope="row">{{producto.precio}}</td>
                    <td scope="row">{{producto.cantidad}}</td>
                    <td scope="row">{{producto.descripcion}}</td>
                    <td scope="row">${{producto.total1}}</td>
                    <td scope="row">${{producto.total2}}</td>
                    <td scope="row"><button (click)="eliminar()" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                      <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                    </svg></button></td>
                  </tr>

                  
                </tbody>
                
              </table>
              <span class="d-flex justify-content-center" *ngIf="producto?.length == 0"><strong>SIN DATOS</strong></span>
        </div>
      </div>
      <div class="col-md-6" *ngIf="mostrarFormulario">
  
        <h3>Nuevo producto</h3>
        <hr>
        <app-formulario (emisor)="receptor($event)"></app-formulario>
      </div>
    </div>
</div>
